/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAVIGATION 1
#define SYMBOL 2
#define FN_MEDIA 3
#define SYSTEM 4

/ {
    behaviors {
        nav_tap: nav_tap_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <165>;
            bindings = <&mo>, <&kp>;
        };

        symbol_left: symbol_left_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <165>;
            quick-tap-ms = <165>;
            require-prior-idle-ms = <20>;
            hold-trigger-key-positions = <6 7 8 9 10 11
                                           18 19 20 21 22 23
                                           30 31 32 33 34 35
                                           43 44 45 46 47 48 49
                                           54 55 56 57>;
            hold-trigger-on-release;
            bindings = <&mo>, <&kp>;
        };

        symbol_right: symbol_right_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <165>;
            quick-tap-ms = <165>;
            require-prior-idle-ms = <20>;
            hold-trigger-key-positions = <0 1 2 3 4 5
                                           12 13 14 15 16 17
                                           24 25 26 27 28 29
                                           36 37 38 39 40 41 42
                                           50 51 52 53>;
            hold-trigger-on-release;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | GRAVE | N1 | N2 | N3 | N4 | N5 |                 | N6 | N7 | N8 | N9 | N0 | DEL |
            // | TAB   | Q  | W  | E  | R  | T  |                 | Y  | U  | I  | O  | P  | BSPC|
            // | NAV/ESC | SYM/A | S | D | F | G |                 | H | J | K | L | SYM/SQT | NAV/RET |
            // | LSHFT | Z | X | C | V | B | FN_MEDIA | FN_MEDIA | N | M | COMMA | DOT | FSLH | RSHFT |
            //                           | LCTRL | LALT | LGUI | SPACE | SPACE | RGUI | RALT | RCTRL |
            bindings = <
                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp DEL
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BSPC
                &nav_tap NAVIGATION ESC &symbol_left SYMBOL A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &symbol_right SYMBOL SQT &nav_tap NAVIGATION RET
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &mo FN_MEDIA &mo FN_MEDIA &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                &kp LCTRL &kp LALT &kp LGUI &kp SPACE &kp SPACE &kp RGUI &kp RALT &kp RCTRL
            >;
        };

        navigation_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |                 | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            // | TRANS | TRANS | TRANS | UP    | TRANS | TRANS |                 | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            // | TRANS | TRANS | LEFT  | DOWN  | RIGHT | TRANS |                 | LG/LEFT | PG_DN | PG_UP | LG/RIGHT | TRANS | TRANS |
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            //                           | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &kp UP &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &kp LEFT &kp DOWN &kp RIGHT &trans &kp LG(LEFT) &kp PG_DN &kp PG_UP &kp LG(RIGHT) &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        symbol_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |                 | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |                 | TRANS | LBKT  | RBKT  | TRANS | BSLH  | TRANS |
            // | TRANS | SEMI  | TRANS | LSHFT | TRANS | TRANS |                 | TRANS | LPAR  | RPAR  | TRANS | SEMI  | TRANS |
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | MINUS | EQUAL | TRANS | TRANS | TRANS |
            //                           | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &kp LBKT &kp RBKT &trans &kp BSLH &trans
                &trans &kp SEMI &trans &kp LSHFT &trans &trans &trans &kp LPAR &kp RPAR &trans &kp SEMI &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp MINUS &kp EQUAL &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        fn_media_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | F1 | F2 | F3 | F4 | F5 | F6 |                 | F7 | F8 | F9 | F10 | F11 | F12 |
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |                 | C_PREV | C_PP | C_NEXT | TRANS | TRANS | DEL |
            // | CAPS | TRANS | TRANS | TRANS | TRANS | TRANS |                 | C_MUTE | C_VOL_DN | C_VOL_UP | TRANS | TRANS | TRANS |
            // | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | MO_SYSTEM | MO_SYSTEM | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            //                           | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS | TRANS |
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
                &trans &trans &trans &trans &trans &trans &kp C_PREV &kp C_PP &kp C_NEXT &trans &trans &kp DEL
                &kp CAPS &trans &trans &trans &trans &trans &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &mo SYSTEM &mo SYSTEM &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        system_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BT_CLR | BT_SEL 0 | BT_SEL 1 | BT_SEL 2 | BT_SEL 3 | BT_SEL 4 |                 | NONE | NONE | NONE | NONE | NONE | NONE |
            // | NONE   | NONE      | NONE      | NONE      | NONE      | NONE      |                 | NONE | NONE | NONE | NONE | NONE | NONE |
            // | NONE   | NONE      | NONE      | EP_OFF    | EP_ON     | OUT_TOG   |                 | NONE | NONE | NONE | NONE | NONE | NONE |
            // | NONE   | NONE      | NONE      | NONE      | NONE      | NONE      | NONE | NONE | NONE | NONE | NONE | NONE | NONE | NONE |
            //                           | NONE | NONE | NONE | NONE | NONE | NONE | NONE | NONE |
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &ext_power EP_OFF &ext_power EP_ON &out OUT_TOG &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none
            >;
        };
    };
};
